<!DOCTYPE html>
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap-3.1.1-dist/css/bootstrap.min.css" />
	</head>
	<body ng-controller="StoreController as anw">
		<div  ng-repeat="data in anw.gegevens | limitTo: 4 | orderBy: '+geboortedatum'">
			<h1>NAW-gegevens:</h1>
			<h3>voornaam: {{data.voornaam}}</h3>
			<h3>tussenvoegsel: {{data.tussenvoegsel}}</h3>
			<h3>achternaam: {{data.achternaam}}</h3>
			<h3>geboortejaar: {{data.geboortejaar}}</h3>
			<h3>woonplaats: {{data.woonplaats | uppercase | limitTo: 4}}</h3>
			<h3>banksaldo: {{data.saldoBankrekening | currency: "&euro;"}}</h3>
			<h3>geboortedatum: {{data.geboortedatum | date: "dd-MMM-yyyy" |lowercase}}</h3>
			<img ng-src="{{ data.images.thumb }}" />
			
			<h4>Reviews</h4>
				<blockquote ng-repeat="reviews in data.review">	
					<b>stars: {{ reviews.stars }}</b><br>
					{{ reviews.body }}<br>
					<cite>by: {{ reviews.author }}</cite>
				</blockquote>
				<form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
										ng-submit="reviewCtrl.addReview(data)">
					<blockquote>
						<b>stars: {{ reviewCtrl.review.stars }}</b><br>
						{{ reviewCtrl.review.body }}<br>
						<cite>by: {{ reviewCtrl.review.author }}</cite>
					</blockquote>
				
					<select ng-model="reviewCtrl.review.stars">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select ng-model="reviewCtrl.review.body"><br>
					<textarea ng-model="reviewCtrl.review.body"></textarea><br>
					<label>by</label>
					<input type="email" ng-model="reviewCtrl.review.author"/><br>
					<input type="submit" value="submit" />			
				</form>
				<br>			
			<button ng-show="data.klikOpMij">Klik mij</button>
			
		</div>	
	
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>